@media (max-width: 1060px) {
  .slide-title,
  .slide-date {
    font-size: 16px;
  }
  .old__slide {
    flex-basis: 100%;
  }
}
@media (max-width: 622px) {
  .header {
    flex-direction: column;
    padding-top: 50px;
  }
  .header__logo {
    margin: 0 0 30px 0;
  }
  .nav__link {
    font-size: 14px;
  }
  .hero {
    padding-top: 60px;
  }
  .hero__title {
    font-size: 54px;
  }
  .hero__subtitle {
    font-size: 35px;
  }
  .hero__description {
    font-size: 16px;
  }
  .hero__date {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 355px) {
  .hero__title {
    font-size: 50px;
  }
  .hero__subtitle {
    font-size: 30px;
  }
  .hero__description {
    font-size: 14px;
  }
  .nav__link {
    margin-right: 7px;
    font-size: 12px;
  }
}
